body {
  background-color: #e3fdfd;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
  }
  h1 {
    color: #0f4c75;
  }
  h3 {
    color: #0f4c75;
  }
